.task {
    width: 99%;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    margin: 3px;
    display: flex;
    gap: 10vw; /* Space between items */
    position: relative;
    transition: opacity .5s ease;
    border-radius: 15px;
}

.taskDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

}

.task li {
    flex: 1 1 100px; /* Allows list items to change size. */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: normal;
    word-break: break-word;
}

.deleteButton{
    width: 70px;
    height: 45px;
}

/* Default styling for task priority. Overwritten for medium and high priority tasks. */
.taskPriority {
    border-radius: 30px;
    background-color: rgb(69, 195, 69);
}

/* Highlight for tasks flagged as important */
.task.important{
    border-width: 3px;
    border-style: solid;
    border-color: tomato;
}

/* Below are style/animation rules for complete tasks. ::after controls the strikethrough*/
.task.complete{
    opacity: 0.50;
}
.task::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 0%;
    height: 2px;
    background-color: black;
    pointer-events: none;
    transition: width 1s cubic-bezier(.25, .8, 1, 1);
}
.task.complete::after{
    width: 100%;
}



body {
    background-color: rgb(253, 245, 233);
}